.chart-series-line {
  -fx-stroke: black;
}

.chart-title {
  -fx-font-weight: bold;
}

.chart-symbol {
  -fx-background-color: transparent;
  -fx-shape: "M100,50 C100,65 80,85 50,85 C20,85 0,65 0,50 C0,35 20,15 50,15 C80,15 100,35 100,50 Z";
  -fx-border-color: black;
  -fx-border-width: 0.5px;
}

/* Customize the symbol colour for each domain category */
.chart-symbol.series0 {
  -fx-background-color: red;
}

.chart-symbol.series1 {
  -fx-background-color: green;
}

.chart-symbol.series2 {
  -fx-background-color: black;
}

.chart-symbol.series3 {
  -fx-background-color: orange;
}

.chart-symbol.series4 {
  -fx-background-color: brown;
}

.chart-symbol.series5 {
  -fx-background-color: purple;
}

.chart-symbol.series6 {
  -fx-background-color: yellow;
}

.chart-symbol.series7 {
  -fx-background-color: navy;
}

.chart-symbol.series8 {
  -fx-background-color: magenta;
}

.chart-symbol.series9 {
  -fx-background-color: maroon;
}

.chart-symbol.series10 {
  -fx-background-color: pink;
}
